<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Motions</title>
    <style>
        tr,td,th {
            border: 1px solid black;
        }
        body{
            background-image: url("../Images/back.jpg");
        }
        header{
            padding: 1.5em;
            color: white;
            background-color: black;
            clear: left;
            text-align: center;
            font-family: Algerian;
        }
        footer {
            padding: 1.5em;
            color: white;
            background-color: black;
            clear: left;
            text-align: center;

        }
    </style>
</head>
<body>
<header>
    <h1>Security System X</h1>
</header>
<nav>
    <a href="../index.html">Home</a>
</nav>
<main>
    <table>
        <thead>
        <tr>

            <th colspan="2">Motion Sensor</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>Date</th>
            <th>Motion</th>

        </tr>
        {% for motion in motions %}
            <tr>
                <td>{{ motion.DateTime }}</td>
                <td>{{ motion.MotionLevel }}</td>
                <td><form action="../Controllers/DeleteMotion.php" method="post">
                        <select name="id" >
                            <option>{{ motion.ID }}</option>
                        </select>
                        <input type="submit" value="Delete">
                    </form> </td>
            </tr>
        {% endfor %}
        <tr>
            <th>Number of occurrences</th>
            <td>{{ numberOfOccurrences }}</td>
        </tr>
        </tbody>

    </table>


</main>
</body>
</html>