<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Noises</title>
    <style>
        tr,td,th {
            border: 1px solid black;
        }
        body{
            background-image: url("../Images/back.jpg");
        }
        header{
            padding: 1.5em;
            color: white;
            background-color: black;
            clear: left;
            text-align: center;
            font-family: Algerian;
        }
        footer {
            padding: 1.5em;
            color: white;
            background-color: black;
            clear: left;
            text-align: center;

        }
    </style>
</head>
<body>
<header>
    <h1>Security System X</h1>
</header>
<nav>
    <a href="../index.html">Home</a>
</nav>
<main>
    <table>
        <thead>
        <tr>
            <th width="175px" colspan="2">Noise Sensor</th>

        </tr>
        </thead>
        <tbody>
        <tr>
            <th>Date</th>
            <th>Noise</th>

        </tr>
        {% for noise in noises %}
        <tr>
            <td>{{ noise.DateTime }}</td>
            <td>{{ noise.NoiseLevel }}</td>
            <td><form action="../Controllers/Delete.php" method="post">
                    <select name="id" >
                        <option>{{ noise.ID }}</option>
                    </select>
                    <input type="submit" value="Delete">
                </form> </td>
        </tr>
        {% endfor %}
        </tbody>
        <tr class="last-row">
            <td colspan="2"><a href="#">Full data</a> </td>
            <td><a href="#">Full data</a> </td>
        </tr>
    </table>

</main>
</body>
</html>